body{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rajdhani';
}
h1, h2, h3, h4, h5, h6{
    color: #1e4387;
    font-weight: bold;
    font-family: 'Rajdhani';
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px ;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
.pointer{
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#000
}
.ml-auto{
    margin-left: auto;
    margin-right: 65px;
}
.contact a{
    margin-right: 10px;
    color: #fff;
}
.nav-header{
    padding: 10px;
    background-color: #0b142f;
    color: #fff;
}
.ml-auto ul li{
    margin-right: 10px;
}
.ml-auto ul li .active{
    color: #f99d30;
}
.date-age{
    font-family: "Poppins";
    align-items: center;
}
.check{
    font-family: "Poppins" ;
    background-color: #ef7534;
}
.check a span{
    color: #fff;
}
.button-1{
    background-color: #ef7534;
    padding: 10px 20px;
    color: #fff;
}
.count-section{
    background-color: #ef7534;
}
.size{
    font-size: 50px;
}
.Features-options{
    padding: 35px;
}
.on-link{
    margin-left: 15px;
}
#size-2{
    font-size: 50px;
}
.right-qot{
    font-size: 25px!important;
    margin-left: 260px;
}
.left-qot{
    font-size: 70px!important;
}
.photo{
    margin-right: 10px;
}
.caveat{
    font-family: 'Caveat';
    font-size: 35px;
    color: #ef7534;
}
.box-box{
    width: 15%!important;
    height: 2px;
    border-radius: 5px;
    background-color:#ef7534;
    position: relative;
    left: 125px;
    bottom: 25px;
}
.box-box-2{
    width: 15%!important;
    height: 2px;
    border-radius: 5px;
    background-color:#ef7534;
    position: relative;
    left: 240px;
    bottom: 25px;
}
.Rajdhani{
    font-family: "Rajdhani";
    font-weight: bold;
    font-size: 50px;
    color: #000;
}
.img-1{
    position: absolute;
}
.img-2{
    position: relative;
    top: 15px;
    left: 230px;
}
.aboutus-section{
    background-image: url("img/about-us-background.png");
}
.cost{
    position: relative;
    padding: 20px;
    bottom: 115px;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    font-weight: bold;
}
.cost h6{
    color: rgb(255, 248, 248);
}
.optional-hotel-section{
    background-image: url("img/hotel-background.png");
}
.count-section{
    color: #fff;
    font-weight: bold;
    height: 250px!important;
}
.count-section h4{
    color: #fff;
    font-weight: bold;
}
.features-section{
    position: relative;
    bottom: 126px;
}
.bg-color{
    background-color: #fff;
    
}
.Features-options{
    border: 1px solid #dbdbdb;
}
.padding-auto{
    padding: 110px;
}
.bg-red{
    background-color: #690c10;
    padding: 35px;
    color: #fff;
    border-radius: 10px;
}
.sam-smith{
    margin-right: 25px;
}
.operational-section{
    background-image: url("img/sam-smith-background-img.png");
}
.a-color{
    color: #690c10;
}
.footer-section {
    background-color: #000;
    color: #fff;
}
.copy-right-section{
    background-color:#ef7534;
    color: #fff;
    padding: 15px;
}
